//movie__wrap
.movie__wrap {
    overflow: hidden;
}
.movie__inner {
    height: 750px;
    h3 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    p {
        font-size: 24px;
        margin-bottom: 20px;

    }
    a {
        border-radius: 50px;
        margin-bottom: 100px;
    }
}
.movie__item {
    display: flex;
    // width: 100%;
    position: absolute;
    > div {
        margin-right: 20px;
        width: 400px;
        // background-color: #ccc;

        img {
            width: 80%;
            border-radius: 5%;
        }
    }
}