//movie__wrap
.movie__wrap {
    overflow: hidden;
}
.movie__inner {
    height: 750px;
    h3 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    p {
        font-size: 24px;
        margin-bottom: 20px;

    }
    a {
        border-radius: 50px;
        margin-bottom: 100px;
    }
}
.movie__item {
    display: flex;
    // width: 100%;
    position: absolute;
    > div {
        margin-right: 20px;
        width: 400px;
        // background-color: #ccc;

        img {
            width: 80%;
            border-radius: 5%;
            height: 500px;
            object-fit: cover;
        }
    }
}



// movie__page
.movie__slider{
    display: none;
}
.movie__search{
    text-align: center;
    margin-bottom: 50px;

    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include border(50px);
        min-width: 500px;
        margin-right: 10px;
    }
    button {
        @include button(#b43e3e, #ffffff);
        @include border(50px);
    }
}
.movie__tag{
    
    ul {

        justify-content: center;
        display: flex;
        margin-bottom: 50px;
        margin-top: 100px;

        li {
            a{
                border: 1px solid #b43e3e;
                padding: 10px 20px;
                margin: 0 10px;
                color: #b43e3e;
            }
        }
    }
}
.movie__cont{

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;

        li {
            width: 19%;
            margin-bottom: 4%;

            img {
                width: 300px;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
            }

            span {
                display: block;
                margin: 4px 0;
            }
        }
    }
}