@charset "UFT-8";

* {
    margin: 0 auto;
    padding: 0;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
    display: flex;
}

#wrap {
    width: 100%;
}

/* header */
#header {
    width: 100%;
    height: 100px;
    display: flex;
    /* background-color: #c6a8a8; */
}

#header .container {
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100px;
}

#header .logo h1 a {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}

/* nav */
#header .nav {
    width: 80%;
    background-color: #d2a4a4;
    display: flex;
}

.nav>ul {
    display: flex;
    /* justify-content: flex-end; */
    margin-top: 30px;
    margin-right: 50px;
}

.nav>ul>li {
    position: relative;
}

.nav>ul>li>a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #7d5b5b;
}

.nav>ul>li>ul {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 100;
    width: 100%;
    text-align: center;
    display: none;
}

.nav>ul>li>ul>li a {
    display: inline-block;
    padding: 10px;
    background-color: #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* slider */
#slider {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 1200px;
    height: 300px;
}

.slider span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #110f0f51;
    padding: 30px 20px;
    color: #fff;

}

/* contents */
#contents {
    width: 1200px;
    height: 200px;
    display: flex;
}

#contents .notice {
    width: 33.3333%;
    background-color: #ac8080;
}

#contents .gallery {
    width: 33.3333%;
    background-color: #886c6c;
}

#contents .banner {
    width: 33.3333%;
    background-color: #c3a6a6;
}

/* footer */
#footer {
    width: 100%;
    height: 100px;
    background-color: #a58686;
}

#footer .container {
    display: flex;
}

#footer .foot1 {
    width: 80%;
}

#footer .foot1 .foot-1-1 {
    height: 50px;
    background-color: #805252;
}

#footer .foot1 .foot-1-2 {
    height: 50px;
    background-color: #caa9a9;
}

#footer .foot2 {
    width: 20%;
    background-color: #574747;
}