.header__inner {
  padding: 20px;
  display: flex;
  position: relative;
}

.nav {
  margin-right: 1%;
  > ul {
    > h3 {
      width: 50px;
      height: 50px;
      background-color: #D0E0E0;
      border: 3px solid #000000a2;
      border-radius: 50%;
      > a {
      }
    }
    > li {
      position: absolute;
      padding: 10px;
      width: 7%;
      height: 100%;
      background-color: #ccc;
      display: none;
      > a {
      }
    }
  }
}

.title {
  width: 180px;
  height: 50px;
  background-color: #D0E0E0;
  border: 3px solid #00000099;
  border-radius: 30px;

  &:hover {
    background-color: #fff79b;
    transition: all 1s;
  }
  h2 {
    padding: 8%;
    text-align: center;
    a {
      font-weight: 400;

    }
  }
}
