@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.img_title {
    font-size: 35px;
    font-family: "Bebas Neue";
    font-weight: 100;
    text-transform: uppercase;
}

.img_desc {
    font-size: 15px;
    height: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
}

button {
    margin-top: 40px;
    background-color: #000;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.button_inner {
    width: 96%;
    height: 90%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
     transition: background-color 0.5s ease-in-out; 
} 

.button_inner::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: top 0.5s ease-in-out, background-color 0.5s ease-in-out;
    z-index: 1;
}

.button_inner:hover::before {
    top: 0;
    background-color: #ffffff;
} 

.button_inner:hover {
    color: #000000;
}

.wrap {
    width: 100%;
}

/* header img */
.header img {
    object-position: 50% 50%;
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.header2 img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.header3 {
    background-color: #EEEDEB;
}

.header3 img {
    height: 750px;
    width: 100%;
    object-fit: cover;
}

/* site__nav */
.site__nav {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2000;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0;
    padding-top: 0;
    text-align: center;
    transition: all 0.6s;
    padding-top: 20px;
}

.site__nav.show {
    background-color: rgba(0, 0, 0, 0);
}

.site__nav .nav1 {
    width: 30%;
    display: flex;
    align-items: center;
}

.site__nav .nav1 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site__nav .nav1 ul>li {
    list-style: none;
    position: relative;
    text-align: left;
}


.site__nav .nav1 ul>li>ul {
    position: absolute;
    left: -20px;
    top: 30px;
    background-color: #000;
    width: 220px;
    text-align: left;
    /* margin-left: 40px; */
    /* padding: 10px; */
    display: none;
    padding: 10px;
}

.site__nav .nav1 a {
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: 0.5;
    left: 0;

    /* background-color: #b0b0b0; */
}

.site__nav .nav1>ul>li>ul>li>a {
    display: inline-block;
    padding: 10px;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box;
}

.site__nav .nav1>ul>li>ul>li>a:hover {
    position: relative;
}

.site__nav .nav1>ul>li>ul>li>a:hover::after {
    content: "";
    position: absolute;
    left: 3%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    animation: slide-in 0.3s linear forwards;
    transform-origin: left;
    z-index: 10000;
    line-height: 1px;
}

@keyframes slide-in {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
        width: 70%;
    }
}




.site__nav .title {
    width: 30%;
    font-weight: lighter;
    font-size: 20px;
    font-family: "Noto Serif JP";
    text-transform: uppercase;
}
.site__nav .nav2 > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.site__nav .nav2 {
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* background-color: #ccc; */

    /* 요소들을 수평 가운데로 정렬 */
    /* align-items: center; */
    /* 요소들을 수직 가운데로 정렬 */
}

.site__nav .nav2 h5 {
    font-weight: 100;
    font-size: 20px;
}

.site__nav>div {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.site__nav .nav2 .sns{
    position: absolute;
    background-image: url(../img/sns.svg);
    margin-top: 6px;
    width: 20px;
    height: 20px;
    right: 150px;
    background-size: cover;
}
.site__nav .nav2 .cart{
    position: absolute;
    background-image: url(../img/cart.svg);
    width: 40px;
    height: 40px;
    right: 50px;
    top: 16px;
    background-size: cover;
}
/* main */
.main {
    width: 100%;
    text-align: center;
    height: 350px;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.main p {
    font-size: 25px;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
    margin-bottom: 120px;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
    margin-bottom: 120px;
    margin-top: 120px;
}

.section1 {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ccc; */
}

.section1>div {
    width: 32%;
    /* 사진 간격 조정 */
}

.section1 img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.section2 #section1 .title .img_title,
.section2 #section1 .title .img_desc,
.section2 #section1 .title button,

#section1 .title .img_title,
#section1 .title .img_desc,
#section1 .title button,

.section3 .title,

.site__nav>div,
.main .title {
    opacity: 0;
    /* 초기에는 투명하게 설정 */
    transform: translateY(10px);
    /* 초기 위치를 아래로 이동 */
    transition: opacity 1s, transform 1s;
    /* 변화가 일어날 때 1초 동안 애니메이션 효과 적용 */
}




/* section3 */
.section3 {
    width: 100%;
    position: relative;
    background-color: #EEEDEB;
    height: 950px;
}

.section3 .title {
    font-size: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: "Oswald";
    line-height: 1;
}

.section3 .desc {
    font-size: 12px;
    position: absolute;
    width: 500px;
    bottom: 250px;
    left: 480px;
    line-height: 1.5;
}

.section3 .img1 {
    position: relative;
    width: 300px;
    height: 450px;
    /* object-fit: cover; */
    top: 380px;
    left: 100px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.section3 .img1.expanded {
    position: absolute;
    height: 450px; /* 예시로 height 값을 변경 */
  }
.section3 .img1 img {
    height: 450px;
}

.section3 .img2 {
    position: relative;
    /* width: 500px; */
    height: 360px;
    /* object-fit: cover; */
    top: 100px;
    left: 480px;
    width: 0;
    overflow: hidden;
    transition: width 0.8s;
}
.section3 .img2.expanded {
    position: absolute;
    width: 500px; /* 예시로 height 값을 변경 */
  }

.section3 .img2 img {
    width: 500px;
}

.section3 .img3 {
    position: relative;
    width: 360px;
    height: 360px;
    /* object-fit: cover; */
    top: 400px;
    left: 1050px;
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.section3 .img3 img {
    height: 360px;
}
.section3 .img3.expanded {
    position: absolute;
    height: 360px; /* 예시로 height 값을 변경 */
  }
/* section3-1 */
.section3-1 {
    width: 100%;
    position: relative;
    background-color: #EEEDEB;
    height: 1200px;
}

.section3-1 .title {
    font-size: 55px;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
    left: 220px;
    font-family: "Oswald";
    line-height: 1.3;
}

.section3-1 .desc {
    font-size: 12px;
    position: absolute;
    width: 500px;
    bottom: 200px;
    left: 850px;
    line-height: 1.5;
}

.section3-1 .img1 img {
    position: relative;
    width: 420px;
    height: 630px;
    object-fit: cover;
    top: 440px;
    left: 320px;
}

.section3-1 .img2 img {
    position: relative;
    width: 500px;
    height: 340px;
    object-fit: cover;
    top: -300px;
    left: 850px;
}

/* section4 */
.section4 {
    background-color: #EEEDEB;
    width: 100%;
    height: 1180px;
}
.section4 .section4__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    /* width: 98%;  */
}
.section4 .section4__inner > div p {
    margin-top: -30px;
    margin-left: 15px;
    font-weight: lighter;
}
.section4 .section4__inner > div img {
    width: 330px;
    height: 500px;
    object-fit: cover;
    padding: 18px;
    margin: 18px 0 18px;
}